@font-face {
    font-family: 'Cooper-hewitt';
    src: url('cooper-hewitt/CooperHewitt-Semibold.otf');
}

@font-face {
    font-family: 'FiraSans-Bold';
    src: url('FiraSans-Bold.ttf');
}

@font-face {
    font-family: 'Satisfy';
    src: url('Satisfy/Satisfy-Regular.ttf');
}

body {
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Satisfy';
    font-size: 4em;
    font-weight: bold;
}

h3 {
    font-family: 'Cooper-hewitt';
    font-size: xx-large;
}

.projdiv {
    height: 400px;
}

#divone {
    background: #FF5F5B;
}

#divtwo {
    background-color: #F39104;
}

#divthree {
    background-color: #F4F147;
}

#divfour {
    background-color: #90DC61;
}

#divfive {
    background-color: #858FEB;
}

#divsix {
    background-color: #624866;
}

a {
    font-family: 'FiraSans-Bold';
    font-size: 1.2em;
}

a:hover {
    color: #DBFF33;
}

a:visited {
    color: #AF4D7F;
}
