@font-face {
    font-family: 'Cooper-hewitt';
    src: url('cooper-hewitt/CooperHewitt-Semibold.otf');
}

@font-face {
    font-family: 'FiraSans-Bold';
    src: url('FiraSans-Bold.ttf');
}

@font-face {
    font-family: 'Satisfy';
    src: url('Satisfy/Satisfy-Regular.ttf');
}

body {
    text-align: center;
}

h1 {
    font-family: 'Satisfy';
    font-size: 4em;
    font-weight: bold;
}

h3 {
    font-family: 'Cooper-hewitt';
    font-size: xx-large;
}

.projdiv {
    height: 200px;
}

#divone {
    background: #4DAFAF;
    background: rgba(77, 175, 174);
}

#divtwo {
    background-color: #BA90D4;
}

#divthree {
    background-color: #D49890;
}

#divfour {
    background-color: #AAD490;
}

#divfive {
    background-color: #CB72A4;
}

a {
    font-family: 'FiraSans-Bold';
    font-size: 1.2em;
}

a:hover {
    color: #DBFF33;
}

a:visited {
    color: #AF4D7F;
}
